<%- include ("../partials/header") -%> 

    <div class="about">
        <div class="row about-page-container">

            <!-- about us -->
            <div class="col-lg-8">
                <div class="box-section about-us">
                    <h1>About us</h1>
                    <h3>Cause everybody loves pasta.</h3>
                    <div class="about-content">

                        <!-- left -->
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet mauris est, eu 
                            egestas sem pellentesque ut. Curabitur a malesuada elit. Sed a quam sollicitudin, 
                            vehicula odio vel, vestibulum enim. Sed id ipsum eget lorem consectetur varius a quis 
                            mi. 
                        </p>

                        <!-- right -->
                        <div id="team-member"> 
                            <p><strong>Team:</strong></p>
                            <img src="https://images.unsplash.com/photo-1551218370-44f5d7748b18?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="">
                            <p><strong>Joseph/Cooker</strong></p>
                            <button type="button" class="btn btn-outline-dark btn-lg">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>

                    </div>
                </div>                
            </div>

            <div class="col-lg-4">
                <div class="row">

                    <!-- contact us -->
                   <div class="col-lg-12">
                       <div class="box-section contact-us">
                           <h3>Contact</h3>
                           <form action="">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <textarea name="" id="" cols="10" rows="3" placeholder="Your message"></textarea>
                            </form>
                       </div>
                    </div>

                   <!-- work here -->
                   <div class="col-lg-12">
                        <div class="box-section work-here">
                            <h3>Work here</h3>
                            <form action="">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <input type="file" accept="pdf">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
           
<%- include ("../partials/footer") -%> 