<%- include ("../partials/header") -%>         

        <div class="delivery">
            <div class="col-lg-6"> 
                1  Delivery       
            </div> 
            <div class="col-lg-6"> 
                <div class="row">
                    <div class="col-lg-12">2</div>
                    <div class="col-lg-12">3</div>
                </div>        
            </div> 
        </div>       

        </div> <!-- end of first row -->

<%- include ("../partials/footer") -%> 