 <%- include ("../partials/header") -%>
    
    <!-- chiefs, reviews and dish of the day section -->    
    <div class="container">
        <div class="content-grid">
            <!-- chiefs -->
            <div class="chief block">
                <img src="../images/Kowalski.jpg" alt="Chief">
                <label class="underline" for="Chief">Chiefs</label>
            </div> 
    
             <!-- reviews -->
             <div class="review block"> 
                <p>Nullam tristique erat quis risus porttitor lacinia quis quis nulla. In hac habitasse platea 
                   dictumst. Nunc lacus risus, ultricies quis nibh in, molestie gravida nisi. Vivamus lacinia sed 
                   erat viverra porta. Aenean vel venenatis risus. Praesent malesuada consectetur erat, vel pharetra
                   erat convallis id. 
                </p>
                <label class="underline" for="Reviews">Reviews</label>
            </div>
    
            <!-- main dish -->
            <div class="dish block">
                <img src="../images/Prato do dia.png" alt="">
                <label class="underline" for="Dish">Main dish</label>          
            </div>   
        </div>
    </div>


<%- include ("../partials/footer") -%> 