 <%- include ("../partials/header") -%>
                        
        <div class="landing">                
                <h1>Your favorite <span>restaurant</span></h1>                
        </div>        

<%- include ("../partials/footer") -%> 