<%- include ("../partials/header") -%>

        <div class="menu">
            <div class="menu-container">
                <div class="box-section">
                    <h1>Menu</h1>
                    <input type="text" placeholder=" Dish...">
                    <div class="dishes-container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="dish">
                                    <figure>
                                        <img src="https://images.unsplash.com/photo-1519624213695-6819a985fb0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="dish-img">
                                        <figcaption>Saladinha de couve</figcaption>
                                    </figure>
                                    <p class="dish-description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a malesuada elit. 
                                    </p>
                                    <p class="dish-price">Price: R$ 50,00</p>     
                                    <p class="dish-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </p>
                                    <button type="button" class="btn btn-dark btn-lg dish-btn">Dark</button>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="dish">
                                    <figure>
                                        <img src="https://images.unsplash.com/photo-1519624213695-6819a985fb0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="dish-img">
                                        <figcaption>Saladinha de alface roxa</figcaption>
                                    </figure>
                                    <p class="dish-description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a malesuada elit. 
                                    </p>
                                    <p class="dish-price">Price: R$ 50,00</p>   
                                    <p class="dish-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </p>
                                    <button type="button" class="btn btn-dark btn-lg dish-btn">Dark</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>         
    </div> <!-- end of first row -->


<%- include ("../partials/footer") -%> 