<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tartê</title>    
    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/global.css">    
    <!-- favicon from https://uxwing.com/grain-wheat-icon/-->
    <link rel="icon" type="image/png" href="../images/icon16.png" />
</head>
<body>

    <!-- lading section -->
    <section class="landing">

        <!-- fixed sidebar -->
        <div class="sidebar">
            <ul>
                <li>
                    <a href="/" id="brand-name" class="underline">Tartê</a>   
                </li>
                <li>
                    <a href="/menu">Menu</a>   
                </li>   
                <li>
                    <a href="/delivery">Delivery</a>   
                </li>
                <li>
                    <a href="/about" class="underline">About us</a>   
                </li>
                <li>
                    <a href="/"><img class="logo" src="../images/logo.png" alt="Logo"></a>   
                </li>
                <li>
                    <a href="/about">Contact us!</a>   
                </li>
                <p class="traits">Jazz, wine and the best of itallian cuisine.</p>
            </ul>
        </div>
        <h1>Your favorite restaurant</h1>
    </section>
