<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tartê</title>    
    <!-- favicon from https://uxwing.com/grain-wheat-icon/-->
    <link rel="icon" type="image/png" href="../images/icon16.png" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- custom -->    
    <link rel="stylesheet" href="/css/global.css">  
</head>
<body>
    
    <!-- Wrapper -->
    <div id="wrapper" class="menuDisplayed">
        
        <!-- hamburguer -->
        <div class="hamburguer" id="menu-toggler">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">          

            <ul class="sidebar-nav">
                <li>
                    <a href="/" id="brand-name" class="underline">Tartê</a>   
                </li>
                <li>
                    <a href="/menu">Menu</a>   
                </li>   
                <li>
                    <a href="/delivery">Delivery</a>   
                </li>
                <li>
                    <a href="/about" class="underline">About us</a>   
                </li>
                <li>
                    <a href="/"><img class="logo" src="../images/logo.png" alt="Logo"></a>   
                </li>
                <li>
                    <a href="/about">Work here</a>   
                </li>
                <li>
                    <a href="/about">Contact us</a>   
                </li>
                <li>
                    <div class="login">
                        <ul>
                            <li><a href="/login"><i class="fa fa-user-circle"></i>Login</a>
                            </li>
                            <li><a href="/register"><i class="fa fa-user-plus"></i>Register</a></li>
                        </ul>
                    </div>
                </li>                    
            </ul>
        </div>

        <!-- Main content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
    

   