/* Ruluku and sacramento font styles */
@import url('https://fonts.googleapis.com/css2?family=Ruluko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(228, 227, 225);
    font-family: 'Ruluko', sans-serif;
    overflow-x:hidden;
}

.sidebar{
    width: 15%; 
    float: left;
    height: 100vh;
    background-color: rgb(198, 186, 173);    
    position: fixed;
    z-index: 1;    
    font-size: 28px;
}

.sidebar ul{
    text-align: center;
    padding: 40px 0;
}

.sidebar a{
    text-decoration: none;
    display: block;
    color: rgb(0,0,0);
    font-weight: 400;
    padding-top: 7px;
    display: inline-block;
}

.sidebar a:hover{
    color: white;
    font-weight: 800;
}

#brand-name{
    color: white;   
    font-size: 1.8em;
    margin-bottom: 20px;
}

#brand-name:hover{
    color: black;       
}

.underline{
    border-bottom: 1px solid black;
}

.logo{
    width: 100%;
}

.traits{
    font-size: 18px;
    padding-top: 40px;    
}
