<%- include ("../partials/header") -%> 

<h1 style="text-align: center;">Edit dish</h1>

<form action="" class="box-section">
    <input type="text" placeholder="Dish Name" name="dish[name]">
    <input type="text" placeholder="Price" name="dish[price]">
    <textarea name="" id="" cols="30" rows="10" placeholder="dish[description]"></textarea>
    <button class="btn-lg">Edit</button>
</form>

<%- include ("../partials/footer") -%> 