<%- include ("../partials/header") -%> 

    <h1 style="text-align: center;">New dish</h1>

    <form action="/menu" method="POST" class="box-section">
        <input type="text" placeholder="Dish Name" name="name">
        <input type="text" placeholder="Price" name="price">
        <input type="text" placeholder="Image" name="image">
        <textarea placeholder="Description" cols="6" rows="6" name="description"></textarea>
        <button class="btn-lg">New</button>
    </form>

<%- include ("../partials/footer") -%> 