<%- include ("../partials/header") -%> 

    <div class="profile about-page-container">
        <form action="/login" method="POST" class="box-section">
            <input type="text" placeholder="Nickname" name="name">            
            <input type="password" placeholder="Password" name="password">
            <button>Submit</button>
        </form>
    </div>
    

<%- include ("../partials/footer") -%> 