<%- include ("../partials/header") -%> 

    <div class="profile">
        <form action="/login" class="box-section">
            <input type="text" placeholder="Nickname">            
            <input type="password" placeholder="Password">
            <button>Submit</button>
        </form>
    </div>
    

<%- include ("../partials/footer") -%> 