<%- include ("../partials/header") -%> 

    <div class="profile">
        <div class="box-section">
            <div class="row">
                <div class="col-lg-6">
                    <img src="" alt="User pic">
                    <p>Name, age</p>
                    <p>Member since: dd/mm/yyyy</p>
                </div>
                <div class="col-lg-6">                    
                    <p>Commentaries</p>
                    <hr>
                    <p>Favorite dishes</p>
                    <hr>
                    <p>Active reservations</p>
                </div>
            </div>
        </div>
    </div>
    

<%- include ("../partials/footer") -%> 